<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
  <link rel="stylesheet" href="public/style.css">
</head>
<body>

  <h2>pokemondb</h2>

  <div class="container">
    <div class="poke">
      <div class="title">
        <h3>ポケモン図鑑</h3>
      </div>
      <li><a href="/pokemondb">ポケモン図鑑（pokemon.jsを起動してからクリックしてください）</a></li>
      <br>
      <li><a href="/public/touroku.html">ポケモン図鑑への追加、削除（pokemon.jsを起動してからクリックしてください）</a></li>
    </div>

    <div class="poke">
      <div class="title">
        <h3>ポケモン種族値</h3>
      </div>
      <li><a href="/pokemonvalue">ポケモン種族値（pokemon.jsを起動してからクリックしてください）</a></li>
      <br>
      <li><a href="/public/touroku-value.html">ポケモン種族値への追加、削除（pokemon.jsを起動してからクリックしてください）</a></li>
    </div>
    <div class="poke">
      <div class="title">
        <h3>ポケモン図鑑+ポケモン種族値</h3>
      </div>
    <li><a href="/innerjoin">innerjoin結果（pokemon.jsを起動してからクリックしてください）</a></li>
    </div>
  </div>
  
  <div class="sample">
    <h3>sample</h3>
    <li><a href="/bye">byeへのリンク（app2kadai3.jsを起動してからクリックしてください）</a></li>
    <br>
    <li><a href="/public/test.html">test.htmlへのリンク</a></li>
    <br>
    <li><a href="/public/input01.html">人口の多い順（少ない順）に都道府県を表示する（app6.jsを起動してからクリックしてください）</a></li>
  </div>
</body>
</html>