.title{
  color: rgb(224, 98, 98);
}
.poke,.sample{
  border-width: thick;
  border-style: inset; 
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.sample{
  margin-top: 50px;
}